node_modules/
.env

# AWS Deployment
dataturf_deployer_key
dataturf_deployer_key.pub
infrastructure/.terraform/
infrastructure/terraform.tfstate*
infrastructure/.terraform.lock.hcl
infrastructure/terraform.tfvars
